html, body, h1, p, img, div {
  margin: 0;
  padding: 0;
  border: 0;

  text-align: inherit;
  font: inherit;

  background-color: transparent;
}

.container {
  width: 1100px;
  margin: auto;
}

canvas {
  display: block;
  background: url('../images/background.jpg');
  margin-top: 60px;
  border-radius: 10px;
  border: 3px solid white;
  float: right;
}

body {
  background: url('../images/nest.jpg');
  min-height: 666px;
}

li {
  list-style: none;
}

.group:after {
  clear: both;
  display: block;
  content: "";
}

.icons {
  float: left;
  display: block;
  height: auto;
  width: auto;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  border: 3px solid white;
  background-color: steelblue;
  padding-bottom: 20px;
  margin-top: 60px;
}

.icons li {
  margin-top: 20px;
}

.icons li img {
  width: 40px;
  height: 40px;
  margin: auto;
}

.icons li img:hover {
  cursor: pointer;
}

#SplashScreen {
  float: right;
  background: url('../images/Yellow_road_marking.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  background-color: white;
  height: 600px;
  width: 1000px;
  margin-top: 60px;
  border-radius: 10px;
  border: 3px solid white;
}

#keys {
  position: absolute;
  top: 396px;
  left: 700px;
}

#egg {
  position: absolute;
  top: 30px;
  left: 45px;
}

#SplashScreen p {
  font-family: 'Oswald', georgia, sans-serif;
  font-size: 30px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
}

.directions-text {
  top: 95px;
  left: 95px;
  z-index: 1;
}

.move-text {
  top: 530px;
  left: 769px;
}

.game-title {
  text-transform: uppercase;
  font-family: 'Oswald', georgia, sans-serif;
  color: black;
  -webkit-text-fill-color: red; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: black;
  letter-spacing: 6px;
  font-weight: bold;
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  position: absolute;
  top: 215px;
  left: 75px;
  font-size: 120px;
  color: "white";
}


div input {
  font-family: georgia;
  font-size: 40px;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  color: white;
  background: black;
  position: absolute;
  top: 500px;
  left: 430px;
  border-radius: 7px;
}

div input:hover {
  cursor: pointer;
  color: #FFD700;
  text-shadow: 1px 1px #FF0000;
}
